body {
    background-color:rgb(56, 0, 59);
    color: rgb(255, 210, 11);

    font-family: "Caprasimo", serif;
}

heade{
     font-size: 50px;
}

h1{
font-size: 30px;
}
P{
    font-size: 20px;
}